<!DOCTYPE html>
<html>
<head>
  <script src="{{ exam_js_path }}"></script>
  <script src="{{ student_js_path }}"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

  <style>
    .heading{
        font-size: 15px;
    }
    .ILO_student {
      width: 500px;
      margin: left;
   }
   .grade_tab {
     margin-left: 40px;
     margin-top: 5px;
   }
    table {
        border-collapse: collapse;
    }
    th, td {
        text-align: left;
        padding: 0 50px 0 0;
    }
    h3{
      padding-top: 25px;
      margin: 0px;
    }
    tr:nth-child(even){background-color: #CCCCCC};
  </style>
  <title></title>
</head>
<body>
<div id="{{ student_id }}">
  <div id="{{ student_id }}HeadingDiv", class="heading"></div>

  <div id="{{ student_id }}ExamSummaryDiv"></div><br>

  <div id="{{ student_id }}IloSummaryDiv"></div>

  <canvas class="ILO_student" id="{{ student_id|safe }}iloSummaryCanvas"></canvas>

  <div id="{{ student_id }}ResultSummaryDiv"></div>

  <div class="tags" id = "{{ student_id }}TagsDiv"></div>

  <div id ="{{ student_id }}RecommendedReadingDiv"></div>
  <hr>
</div>
</body>

<script>
let exam_date = {{ exam_id|safe }}_data.exam_date.slice(0,4) + '-' +
                {{ exam_id|safe }}_data.exam_date.slice(4,6) +'-' +
                {{ exam_id|safe }}_data.exam_date.slice(6,8);
</script>
<script>
function createIloGraphData(iloSummary){
        let iloLabel = []
        let iloData = []

        for(let i = 0; i < iloSummary.length; i++){
            iloLabel.push(`ILO ${iloSummary[i]["ilo_value"]}`);
            iloData.push(iloSummary[i]["PERCENT"]);
        };
        return {iloLabel, iloData};
};
</script>

<script>

let heading{{ student_id }}Data = `
  <p class="heading"><h3> Student: ${ {{ student_id|safe }}_data.student_id} </h3></p>
  <p class="heading">Exam summary for ${ {{ exam_id|safe }}_data.course_code} - ${ {{ exam_id|safe }}_data.course_name} </p>
  <p class="heading">Date of Exam: ${exam_date} </p>
  <p id="stud"></p>
`
let {{ student_id }}examSummaryData = `
  <h3> Exam Summary</h3> <br>
  Maximum Points: ${ {{ student_id|safe }}_data.Maximum_points} <br>
  Earned Points: ${ {{ student_id|safe }}_data.Earned_points} <br>
  Percentage: ${ {{ student_id|safe }}_data.PERCENT} <br>
  Preliminary Grade: ${ {{ student_id|safe }}_data.grade} <br>
  `
if ( {{ student_id|safe }}_data.grade_after_fx){
  {{ student_id }}examSummaryData += `Preliminary Grade after passed Fx assignment:
    ${ {{ student_id|safe }}_data.grade_after_fx} <br>`
};

let {{ student_id }}coveredILOData = '<h3>Intended Learning Outcome (ILO) Summary</h3><br>'

const {{ student_id|safe }}IloGraphdata = createIloGraphData({{ student_id|safe }}_data.ilo_result);

for (let i = 0; i <  {{ student_id|safe }}_data.ilo_result.length; i++){
  {{ student_id }}coveredILOData += `
    ILO ${ {{ student_id|safe }}_data.ilo_result[i].ilo_value}: ${ {{ student_id|safe }}_data.ilo_result[i].ILO[1]}
    <table class="grade_tab">
    <tr>
      <td> Grade: ${ {{ student_id|safe }}_data.ilo_result[i].grade}</td>
      <td> Earned Points: ${ {{ student_id|safe }}_data.ilo_result[i].earned_points} /
                          ${ {{ student_id|safe }}_data.ilo_result[i].maximum_points} </td>
    </tr>
    </table><br>`;
}

const {{ student_id|safe }}IloSummaryData = {
                    labels: {{ student_id|safe }}IloGraphdata["iloLabel"],
                    datasets:[
	                    {
                        label: 'Results per ILO',
	                    data: {{ student_id|safe }}IloGraphdata["iloData"],
                        backgroundColor: "#d468cb",
	                  }]
  };

const {{ student_id|safe }}IloSummaryConf = {
	type: 'bar',
	data:  {{ student_id|safe }}IloSummaryData,
	options: {animation: false,
	          responsive: false,
	          title: {display: true,
	                  text: 'Exam Grade Summary'
	                  },
	          legend: {display: false,
	                    position: 'top',
                      },
    }
};

const {{ student_id|safe }}IloSummaryChart = new Chart(
        document.getElementById("{{ student_id|safe }}iloSummaryCanvas"),
        {{ student_id|safe }}IloSummaryConf
);

let {{ student_id }}resultSummaryData = `
    <h3>Question Results</h3>
    <table>
      <tr>
        <th>Question</th>
        <th>Score</th>
        <th>Feedback</th>
        <th>Comment</th>
      </tr>`;

let {{ student_id }}TagsData = `<h3> You should study up on the following topics: </h3><br>
  <table>
    <tr>
      <th>Topic</th>
    </tr>`


for (let i = 0; i <  {{ student_id|safe }}_data.result.length; i++){
  {{ student_id }}resultSummaryData +=
    `<tr>
      <td> Question: ${ {{ student_id|safe }}_data.result[i].order}</td>
      <td> Earned: ${ {{ student_id|safe }}_data.result[i].earned} /
                   ${ {{ student_id|safe }}_data.result[i].max_point} </td>
    `
    if( Object.keys({{ student_id|safe }}_data.result[i].generated_feedback).length != 0 ){
      for (const [key, value] of Object.entries(
           {{ student_id|safe }}_data.result[i].generated_feedback)){
            {{ student_id }}resultSummaryData +=
            `<td> ${value} </td>
            `
      };
    }
    else{
      {{ student_id }}resultSummaryData += `<td></td>`
    };

    if ( {{ student_id|safe }}_data.result[i].teacher_comment){
      {{ student_id }}resultSummaryData += `<td>${ {{ student_id|safe }}_data.result[i].teacher_comment}</td>`
    }
    else{
      {{ student_id }}resultSummaryData += `<td></td>`
    };
  };
{{ student_id }}resultSummaryData += `</table>`;

for (let i = 0; i <  {{ student_id|safe }}_data.failed_tags.length; i++){
  {{ student_id }}TagsData += `
    <tr>
      <td>${ {{ student_id|safe }}_data.failed_tags[i][0]}</td>
    </tr>
  `
};
{{ student_id }}TagsData += `</table>`;

let {{ student_id }}recommendedReadingData = ''
if( {{ student_id|safe }}_data.recommended_reading){
  {{ student_id }}recommendedReadingData += `
  <h3>
    The following recommended reading instructions have been generated based on your
    exam result.
  </h3><br>`

  for (let i = 0; i <  {{ student_id|safe }}_data.recommended_reading.length; i++){
    if ( {{ student_id|safe }}_data.recommended_reading[i].optionals){
      {{ student_id }}recommendedReadingData += `${ {{ student_id|safe }}_data.recommended_reading[i]["optionals"]} in `
    };
    if ( {{ student_id|safe }}_data.recommended_reading[i]["title"]){
      {{ student_id }}recommendedReadingData += `${ {{ student_id|safe }}_data.recommended_reading[i]["title"]}`
    };
    if ( {{ student_id|safe }}_data.recommended_reading[i]["author"]){
      {{ student_id }}recommendedReadingData += ` by ${ {{ student_id|safe }}_data.recommended_reading[i]["author"]}`
    };
    {{ student_id }}recommendedReadingData += `<br>`
  };
};

document.title = `Exam summary for {{ exam_id|safe }}_data.course_code - {{ exam_id|safe }}_data.course_name`;
document.getElementById("{{ student_id }}HeadingDiv").innerHTML = heading{{ student_id }}Data;
document.getElementById("{{ student_id }}ExamSummaryDiv").innerHTML = {{ student_id }}examSummaryData;
document.getElementById("{{ student_id }}IloSummaryDiv").innerHTML = {{ student_id }}coveredILOData;
document.getElementById("{{ student_id }}ResultSummaryDiv").innerHTML = {{ student_id }}resultSummaryData;

if ({{ student_id|safe }}_data.failed_tags.length > 0) {
  document.getElementById("{{ student_id }}TagsDiv").innerHTML = {{ student_id }}TagsData;
};

if ( {{ student_id|safe }}_data.recommended_reading){
  document.getElementById("{{ student_id }}RecommendedReadingDiv").innerHTML = {{ student_id }}recommendedReadingData;
};

</script>
</html>
