<!DOCTYPE html>
<html>
<head>
  <script src="{{ exam_js_path }}"></script>
  <script src="{{ student_js_path }}"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

  <style>
    .heading{
        font-size: 15px;
    }
    .ILO_student {
      width: 500px;
      margin: left;
   }
   .grade_tab {
     margin-left: 40px;
     margin-top: 5px;
   }
    table {
        border-collapse: collapse;
    }
    th, td {
        text-align: left;
        padding: 0 50px 0 0;
    }
    h3{
      padding-top: 25px;
      margin: 0px;
    }
    tr:nth-child(even){background-color: #CCCCCC};
  </style>
  <title></title>
</head>
<body>
<div id="{{ student_id }}">
  <div id="heading{{ student_id }}Div", class="heading">
  </div>

  <div id="examSummary{{ student_id }}Div"></div><br>

  <div id="iloSummary{{ student_id }}Div"></div>
  <div id="iloGrades_{{ student_id }}"></div>

  <canvas class="ILO_student" id="{{ student_id|safe }}iloSummaryCanvas"></canvas>

  <div id="resultSummary{{ student_id }}Div"></div>

  <div class="tags" id = "tags{{ student_id }}Div"></div>

  <div id ="recommendedReading{{ student_id }}Div"></div>
  <hr>
</div>
</body>

<script>
let exam_date = {{ exam_id|safe }}_data.exam_date.slice(0,4) + '-' +
                {{ exam_id|safe }}_data.exam_date.slice(4,6) +'-' +
                {{ exam_id|safe }}_data.exam_date.slice(6,8);
</script>
<script>
function createIloGraphData(iloSummary){
        let iloLabel = []
        let iloData = []
        for(let i = 0; i < iloSummary.length; i++){
            iloLabel.push(`ILO ${iloSummary[i]["ilo_value"]}`);
            iloData.push(iloSummary[i]["PERCENT"]);
        };
        return {iloLabel, iloData};
};
</script>

<script>

let heading{{ student_id }}Data = `
  <p class="heading"><h3> Student: ${ {{ student_id|safe }}_data.student_id} </h3></p>
  <p class="heading">Exam summary for ${ {{ exam_id|safe }}_data.course_code} - ${ {{ exam_id|safe }}_data.course_name} </p>
  <p class="heading">Date of Exam: ${exam_date} </p>
  <p id="stud"></p>
`
let examSummary{{ student_id }}Data = `
  <h3> Exam Summary</h3> <br>
  Maximum Points: ${ {{ student_id|safe }}_data.Maximum_points} <br>
  Earned Points: ${ {{ student_id|safe }}_data.Earned_points} <br>
  Percentage: ${ {{ student_id|safe }}_data.PERCENT} <br>
  Preliminary Grade: ${ {{ student_id|safe }}_data.grade} <br>
  `
if ( {{ student_id|safe }}_data.grade_after_fx){
  examSummary{{ student_id }}Data += `Preliminary Grade after passed Fx assignment:
    ${ {{ student_id|safe }}_data.grade_after_fx} <br>`
};

let coveredILO{{ student_id }}Data = '<h3>Intended Learning Outcome (ILO) Summary</h3><br>'

const {{ student_id|safe }}IloGraphdata = createIloGraphData({{ student_id|safe }}_data.ilo_result);

for (let i = 0; i <  {{ student_id|safe }}_data.ilo_result.length; i++){
  coveredILO{{ student_id }}Data += `
    ILO ${ {{ student_id|safe }}_data.ilo_result[i].ilo_value}: ${ {{ student_id|safe }}_data.ilo_result[i].ILO[1]}
    <table class="grade_tab">
    <tr>
      <td> Grade: ${ {{ student_id|safe }}_data.ilo_result[i].grade}</td>
      <td> Earned Points: ${ {{ student_id|safe }}_data.ilo_result[i].earned_points} /
                          ${ {{ student_id|safe }}_data.ilo_result[i].maximum_points} </td>
    </tr>
    </table><br>`;
}

const {{ student_id|safe }}IloSummaryData = {
                    labels: {{ student_id|safe }}IloGraphdata["iloLabel"],
                    datasets:[
	                    { data: {{ student_id|safe }}IloGraphdata["iloData"],
                        backgroundColor: "#d468cb",
	                  }]
  };

const {{ student_id|safe }}IloSummaryConf = {
	type: 'bar',
	data:  {{ student_id|safe }}IloSummaryData,
	options: {animation: false,
	          responsive: false,
	          title: {display: true,
	                  text: 'Exam Grade Summary'
	                  },
	          legend: {display: false,
	                    position: 'top',
                      },
    }
};

const {{ student_id|safe }}IloSummaryChart = new Chart(
        document.getElementById("{{ student_id|safe }}iloSummaryCanvas"),
        {{ student_id|safe }}IloSummaryConf
);

let resultSummary{{ student_id }}Data = `
    <h3>Question Results</h3>
    <table>
      <tr>
        <th>Question</th>
        <th>Score</th>
        <th>Feedback</th>
        <th>Comment</th>
      </tr>`;

let tags{{ student_id }}Data = `<h3> You should study up on the following topics: </h3><br>
  <table>
    <tr>
      <th>Topic</th>
    </tr>`


for (let i = 0; i <  {{ student_id|safe }}_data.result.length; i++){
  resultSummary{{ student_id }}Data +=
    `<tr>
      <td> Question: ${ {{ student_id|safe }}_data.result[i].order}</td>
      <td> Earned: ${ {{ student_id|safe }}_data.result[i].earned} /
                   ${ {{ student_id|safe }}_data.result[i].max_point} </td>
    `
    if( Object.keys({{ student_id|safe }}_data.result[i].generated_feedback).length != 0 ){
      for (const [key, value] of Object.entries(
           {{ student_id|safe }}_data.result[i].generated_feedback)){
            resultSummary{{ student_id }}Data +=
            `<td> ${value} </td>
            `
      };
    }
    else{
      resultSummary{{ student_id }}Data += `<td></td>`
    };

    if ( {{ student_id|safe }}_data.result[i].teacher_comment){
      resultSummary{{ student_id }}Data += `<td>${ {{ student_id|safe }}_data.result[i].teacher_comment}</td>`
    }
    else{
      resultSummary{{ student_id }}Data += `<td></td>`
    };
  };
resultSummary{{ student_id }}Data += `</table>`;


for (let i = 0; i <  {{ student_id|safe }}_data.failed_tags.length; i++){
  tags{{ student_id }}Data += `
    <tr>
      <td>${ {{ student_id|safe }}_data.failed_tags[i][0]}</td>
    </tr>
  `
};
tags{{ student_id }}Data += `</table>`;

let recommendedReading{{ student_id }}Data = ''
if( {{ student_id|safe }}_data.recommended_reading){
  recommendedReading{{ student_id }}Data += `
  <h3>
    The following recommended reading instructions have been generated based on your
    exam result.
  </h3><br>`

  for (let i = 0; i <  {{ student_id|safe }}_data.recommended_reading.length; i++){
    if ( {{ student_id|safe }}_data.recommended_reading[i].optionals){
      recommendedReading{{ student_id }}Data += `${ {{ student_id|safe }}_data.recommended_reading[i]["optionals"]} in `
    };
    if ( {{ student_id|safe }}_data.recommended_reading[i]["title"]){
      recommendedReading{{ student_id }}Data += `${ {{ student_id|safe }}_data.recommended_reading[i]["title"]}`
    };
    if ( {{ student_id|safe }}_data.recommended_reading[i]["author"]){
      recommendedReading{{ student_id }}Data += ` by ${ {{ student_id|safe }}_data.recommended_reading[i]["author"]}`
    };
    recommendedReading{{ student_id }}Data += `<br>`
  };
};

document.title = `Exam summary for {{ exam_id|safe }}_data.course_code - {{ exam_id|safe }}_data.course_name`;
document.getElementById("heading{{ student_id }}Div").innerHTML = heading{{ student_id }}Data;
document.getElementById("examSummary{{ student_id }}Div").innerHTML = examSummary{{ student_id }}Data;
document.getElementById("iloSummary{{ student_id }}Div").innerHTML = coveredILO{{ student_id }}Data;
document.getElementById("resultSummary{{ student_id }}Div").innerHTML = resultSummary{{ student_id }}Data;
document.getElementById("tags{{ student_id }}Div").innerHTML = tags{{ student_id }}Data;
if ( {{ student_id|safe }}_data.recommended_reading){
  document.getElementById("recommendedReading{{ student_id }}Div").innerHTML = recommendedReading{{ student_id }}Data;
};

</script>
</html>
