<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
    <script src="{{ exam_js_path }}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

    <style>
        canvas {
           width: 500px;
           margin: left;
        }

        .qid_list {
            font-size: small;
        }
        table {
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 0 50px 0 0;
        }

        .heading{
            font-size: 10px;
        }

        .ILO_student {
           width: 500px;
           margin: left;
        }

        h3{
            padding-top: 25px;
	        margin: 0px;
        }

        tr:nth-child(even){background-color: #CCCCCC}

        @media print
        {
              .page-break  { display:block; page-break-before:always; }

        }

    </style>
    <title></title>
</head>

<body>
    <div id="main_exam_summary">
        <div id="mainHeadings"></div>
        <div id="coveredILO"></div>
        <div id="passFail"></div>

    <div id="canvasExamChart" style="width:100%">
        <canvas id="examgradechart"></canvas>
    </div>

        <div id="canvasExamPrivChart" style="width:100%">
        <canvas id="privacyexamgradechart"></canvas>
    </div>

    <div id="canvas-holder" style="width:1000px">
        <canvas id='ilo_chart'></canvas>
    </div>
<script>
let exam_date = {{ exam_id|safe }}_data.exam_date.slice(0,4) + '-' +
                {{ exam_id|safe }}_data.exam_date.slice(4,6) +'-' +
                {{ exam_id|safe }}_data.exam_date.slice(6,8);
</script>
    <div class="tags" id="failedTagsDiv"></div>
    <div class="tags" id="passedTagsDiv"></div>
    <div class="tags" id="strongTagsDiv"></div>
<hr>

    <div class="page-break"></div>

    <div class="ladok" id="ladokDiv"></div>

<script>
    document.title = `Exam summary for ${ {{ exam_id|safe }}_data.course_code} - ${ {{ exam_id|safe }}_data.course_name} `
    let mainHeadings = `
        <p>Exam summary for ${ {{ exam_id|safe }}_data.course_code} - ${ {{ exam_id|safe }}_data.course_name}</p>
        <p>Date of Exam: ${exam_date} </p>`;

    var exam_grade_summary = document.getElementById("examgradechart")

    var privacy_exam_grade_summary = document.getElementById("privacyexamgradechart")

    var _ilo_chart = document.getElementById("ilo_chart");

    function createGraphData(gradeSummaryData){
        let labels = []
        let data = []

        for (const [key, value] of Object.entries(gradeSummaryData)){
            labels.push(key);
            data.push(value);
        };
        return {labels, data};
    };

    graph_data = createGraphData({{ exam_id|safe }}_data.exam_summary);
    graph_data_priv = createGraphData({{ exam_id|safe }}_data.exam_summary_priv);

    var exam_grade_summary_data = {labels:graph_data["labels"], datasets:[
            { data: graph_data["data"],

              backgroundColor: ["#e00311",
                                "#ffc400",
                                "#fff203",
                                "#4cded9",
                                "#212ccc",
                                "#72db48",
                                "#038022",
                    ],
            }]
    };
    var examGradeSummaryChart = new Chart(exam_grade_summary,{
        type: 'bar',
        data: exam_grade_summary_data,
        options: {animation: false,
                  responsive: false,
                  title: {display: true,
                          text: 'Exam Grade Summary'
                          },
                  legend: {display: false,
                            position: 'top',
                           },
                scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'black',
                                fontSize: 14,
                                callback: function(label, index, labels) {
                                        return label+'%';
                                }
                            }
                        }],
                      }
        }
    }
    );

    var privacy_exam_grade_summary_data = {labels:graph_data_priv["labels"], datasets:[
            { data: graph_data_priv["data"],

              backgroundColor: ["#e00311",
                                "#ffc400",
                                "#fff203",
                                "#4cded9",
                                "#212ccc",
                                "#72db48",
                                "#038022",
                    ],
            }]
    };
    var privacyExamGradeSummaryChart = new Chart(privacy_exam_grade_summary,{
        type: 'bar',
        data: privacy_exam_grade_summary_data,
        options: {animation: false,
                  responsive: false,
                  title: {display: true,
                          text: 'Exam Grade Summary Anonymized'
                          },
                  legend: {display: false,
                            position: 'top',
                           },
                scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'black',
                                fontSize: 14,
                                callback: function(label, index, labels) {
                                        return label+'%';
                                }
                            }
                        }],
                      }
        }
    }
    );

    function iloGraphData(iloSummary){
        let iloLabel = []
        let iloData = []
        for(let i = 0; i < iloSummary.length; i++){
            iloLabel.push(`ILO ${iloSummary[i]["ilo_value"]}`);
            iloData.push(iloSummary[i]["PERCENT"]);
        };
        return {iloLabel, iloData};
    };

    let graphData = iloGraphData({{ exam_id|safe }}_data.ilo_summary);

    var config_data = {
                        labels: graphData["iloLabel"],
                        datasets:[
                            { data: graphData["iloData"],
                            backgroundColor: "#d468cb",
                        }]
    };
    var ilo_summary_chart = new Chart(ilo_chart,{
        type: 'bar',
        data:  config_data,
        options: {animation: false,
                  responsive: false,
                  title: {display: true,
                          text: 'Exam Grade ILO Summary'
                          },
                  legend: {display: false,
                            position: 'top',
                          },
                  scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max: 100,
                                fontColor: 'black',
                                fontSize: 14,
                                callback: function(label, index, labels) {
                                        return label+'%';
                                }
                            }
                        }],
                  reverse: false
                  },
                  annotation: {
                    annotations: [{
                                type:'line',
                                mode:'horizontal',
                                scaleID:'y-axis-0',
                                value:{{ exam_id|safe }}_data.pass_limit,
                                borderColor:'black',
                                borderWidth:2,
                                label: {
                                    position: "left",
                                    enabled: true,
                                    content: "Pass mark"
                                },
                    }],
                  },
        }
    });

    function generateTagData(tagData){
        let tags = ""
        let unique = 0
        let tagQuestions = ""

        if(tagData){
            for (let i = 0; i < tagData.length; i++){
                tags = tagData[i][0];
                unique = tagData[i][2]
                for(let j=0; j < tagData[i][3].length; j++)
                    tagQuestions += `Question: ${tagData[i][3][j][0]},
                                     Unique answers: ${tagData[i][3][j][0]}<br>`;
            };
        };
        return {tags, unique, tagQuestions}
    };

        let coveredILO = `<h3>Covered Intended Learning Outcome (ILO)</h3><br>`;

        for (let i = 0; i < {{ exam_id|safe }}_data.ilo_summary.length ; i++){
            coveredILO += `ILO ${ {{ exam_id|safe }}_data.ilo_summary[i]["ilo_value"]} -
                               ${ {{ exam_id|safe }}_data.ilo_summary[i]["ILO_DESC"]}<br>`
            };

    function getPassedStudents(exam_summary){
        let passed = 0;
        let failed = 0;
        let total = 0;
        for (const [key, value] of Object.entries(exam_summary)){
            if (key != ("F" || "Fx")){
                passed =+ value
                }
            else{
                failed += value;
            };
        };
        return {passed, failed, total};
    };

    let passFailStudents = getPassedStudents({{ exam_id|safe }}_data.exam_summary);
    let passedTagsData = generateTagData({{ exam_id|safe }}_data.exam_tags.passed_tags)
    let passedTags = `
        <h3> Passed Tags </h3> <br>
        <table>
            <tr>
                <th>Tags</th>
                <th>Unique students</th>
                <th>Questions</th>
            </tr>
            <tr>
                <td>${passedTagsData["tags"]}</td>
                <td>${passedTagsData["unique"]}</td>
                <td><p class="qid_list">${passedTagsData["tagQuestions"]}</p></td>
            </tr>
       </table>`

    let failedTagsData = generateTagData({{ exam_id|safe }}_data.exam_tags.failed_tags)
    let failedTags = `
        <h3> Failed Tags </h3> <br>
        <table>
            <tr>
                <th>Tags</th>
                <th>Unique students</th>
                <th>Questions</th>
            </tr>
            <tr>
                <td>${failedTagsData["tags"]}</td>
                <td>${failedTagsData["unique"]}</td>
                <td><p class="qid_list">${failedTagsData["tagQuestions"]}</p></td>
            </tr>
        </table>
    `
    let strongTagsData = generateTagData({{ exam_id|safe }}_data.exam_tags.strong_tags)
    let strongTags = `
        <h3> Excelled Tags </h3> <br>
        <table>
            <tr>
                <th>Tags</th>
                <th>Unique students</th>
                <th>Questions</th>
            </tr>
            <tr>
                <td>${strongTagsData["tags"]}</td>
                <td>${strongTagsData["unique"]}</td>
                <td><p class="qid_list">${strongTagsData["tagQuestions"]}</p></td>
            </tr>
        </table>`

    let ladokData = ``
    for (let i=0; i < {{ exam_id|safe }}_data.ladok_summary.length; i++){
        ladokData += `<tr>
                        <td>${ {{ exam_id|safe }}_data.ladok_summary[i]["student_id"]}</td>
                        <td>${ {{ exam_id|safe }}_data.ladok_summary[i]["grade"]}</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    `
    };

    let ladokContent = `
        <h3> Ladok list </h3> <br>
        <table>
            <tr>
                <th>Student-ID</th>
                <th>Grade</th>
                <th>Reported</th>
            </tr>
            ${ladokData}
        </table>
        `
    document.getElementById("mainHeadings").innerHTML = mainHeadings;
    document.getElementById("coveredILO").innerHTML = coveredILO;
    document.getElementById("passFail").innerHTML = `Passed students: ${passFailStudents["passed"]}
                                                     Failed students: ${passFailStudents["failed"]}`;

    document.getElementById("failedTagsDiv").innerHTML = failedTags;
    document.getElementById("passedTagsDiv").innerHTML = passedTags;
    document.getElementById("strongTagsDiv").innerHTML = strongTags;
    document.getElementById("ladokDiv").innerHTML = ladokContent;

</script>
<div class="page-break"></div>
<hr>
{% for _student in students %}

<div class="page-break"></div>
{{ _student["data"]|safe}}
<hr>

{% endfor %}

</div>
</body>
</html>
