<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
    <script src="{{ exam_js_path }}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <style>
        canvas {
           width: 500px;
           margin: left;
        }

        .qid_list {
            font-size: small;
        }
        table {
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 0 50px 0 0;
        }

        .heading{
            font-size: 10px;
        }

        .ILO_student {
           width: 500px;
           margin: left;
        }

        h3{
            padding-top: 25px;
	        margin: 0px;
        }

        tr:nth-child(even){background-color: #CCCCCC}

        @media print
        {
              .page-break  { display:block; page-break-before:always; }

        }

    </style>
    <title></title>
</head>
<script>
let exam_date = {{ exam_id|safe }}_data.exam_date.slice(0,4) + '-' +
                {{ exam_id|safe }}_data.exam_date.slice(4,6) +'-' +
                {{ exam_id|safe }}_data.exam_date.slice(6,8);
</script>
<body>
    <div id="mainExamSummary">
        <div id="mainHeadings"></div>
        <div id="coveredILO"></div>
        <div id="passFail"></div>

        <div id="summaryExamDiv" style="width:100%">
            <canvas id="summaryExamCanvas"></canvas>
        </div>

        <div id="summaryPrivExamDiv" style="width:100%">
            <canvas id="summaryPrivExamCanvas"></canvas>
        </div>

        <div id="iloSummaryDiv" style="width:1000px">
            <canvas id='iloSummaryCanvas'></canvas>
        </div>

        <div class="tags" id="failedTagsDiv"></div>
        <div class="tags" id="passedTagsDiv"></div>
        <div class="tags" id="strongTagsDiv"></div>

        <hr>

        <div class="page-break"></div>

        <div class="ladok" id="ladokDiv"></div>

        <hr>
        <div class="page-break"></div>
    </div>

<script>
    document.title = `Exam summary for ${ {{ exam_id|safe }}_data.course_code} - ${ {{ exam_id|safe }}_data.course_name} `
    let mainHeadings = `
        <p>Exam summary for ${ {{ exam_id|safe }}_data.course_code} - ${ {{ exam_id|safe }}_data.course_name}</p>
        <p>Date of Exam: ${exam_date} </p>`;

    function createGraphData(gradeSummaryData){

        // Move object to array for sorting
        let sortedArray = [];
        for (var grade in gradeSummaryData) {
            sortedArray.push([grade, gradeSummaryData[grade]]);
        }

        //Sort alphabetically
        sortedArray.sort(function(a, b) {
          return (a > b) ? -1 : (a < b) ? 1 : 0;});

        const labels = []
        const data = []

        sortedArray.forEach((item, i) => {
          labels.push(item[0]);
          data.push(item[1]);
        });

        return {labels, data};
    };

    function createIloGraphData(iloSummary){
            let iloLabel = []
            let iloData = []

            for(let i = 0; i < iloSummary.length; i++){
                iloLabel.push(`ILO ${iloSummary[i]["ilo_value"]}`);
                iloData.push(iloSummary[i]["PERCENT"]);
            };
            return {iloLabel, iloData};
    };

    function filterStudents(grade){
        for (let i=0; i < {{ exam_id|safe }}_data.ladok_summary.length; i++){
            var studentDiv = document.getElementById( {{ exam_id|safe }}_data.ladok_summary[i]["student_id"] );

            if ( {{ exam_id|safe }}_data.ladok_summary[i]["grade"] != grade ){
                if (studentDiv.hidden === false) {
                    studentDiv.hidden = true;
                }
                else {
                    studentDiv.hidden = false;
                }
            }
        };
    };

    const gradeSummaryGraphData = createGraphData( {{ exam_id|safe }}_data.exam_summary);
    const gradeSummaryPrivGraphData = createGraphData( {{ exam_id|safe }}_data.exam_summary_priv);
    const iloGraphData = createIloGraphData({{ exam_id|safe }}_data.ilo_summary);
    const passLimit = {{ exam_id|safe }}_data.pass_limit;

    /* Graph for grade summary */

    const gradeSummaryData = {
            labels:gradeSummaryGraphData["labels"],
            datasets:[
                {
                    label: "Grade Summary Anonymized",
                    data: gradeSummaryGraphData["data"],
                    backgroundColor: ["#e00311",
                                    "#ffc400",
                                    "#fff203",
                                    "#4cded9",
                                    "#212ccc",
                                    "#72db48",
                                    "#038022",
                        ],
                    }],
                };
    const summaryConfig = {
      type: 'bar',
      data: gradeSummaryData,
      options: {
            animation: false,
            responsive: false,
            title: {display: true,
            text: 'Summary of Exam Grades'
            },
            legend: {display: false,
                     position: 'top',
                     },
            onClick: (e) => {
              const activePoints = gradeSummaryChart.getElementsAtEventForMode(
                    e, 'nearest', {
                                    intersect: true
                                  },
                                  false
                                )
              if(activePoints.length > 0){
                filterStudents(
                  gradeSummaryChart.data.labels[activePoints[0].index]);
              }
            }
            }
    };

    const gradeSummaryChart = new Chart(
      document.getElementById('summaryExamCanvas'),
      summaryConfig
    );
    
    /* Graph for anonymized grade summary */

    const gradeSummaryPrivData = {
        labels:gradeSummaryPrivGraphData["labels"],
        datasets:[{
                label: "Grade Summary Anonymized",
                data: gradeSummaryPrivGraphData["data"],
                backgroundColor: ["#e00311",
                                  "#ffc400",
                                  "#fff203",
                                  "#4cded9",
                                  "#212ccc",
                                  "#72db48",
                                  "#038022",
                                 ],
                }]
    };

    const summaryPrivConfig = {
        type: 'bar',
        data: gradeSummaryPrivData,
        options: {
            animation: false,
            responsive: false,
            title: {display: true,
            text: 'Anonymized Summary of Exam Grades'
            },
            legend: {display: false,
                     position: 'top',
                     },
            }
    };

    const gradeSummaryPrivChart = new Chart(
        document.getElementById('summaryPrivExamCanvas'),
        summaryPrivConfig
    );

    /* Graph for ILO Summary */

    const iloSummaryData = {
                        labels: iloGraphData["iloLabel"],
                        datasets:[
                            {
                            label: 'Results per ILO',
                            data: iloGraphData["iloData"],
                            backgroundColor: "#d468cb",
                        }]
    };
    const iloSummaryConfig ={
        type: 'bar',
        data: iloSummaryData,
        options: {animation: false,
                  responsive: false,
                  title: {display: true,
                          text: 'Exam Grade ILO Summary'
                          },
                  legend: {display: false,
                            position: 'top',
                          },
        }
    };

    const iloSummaryChart = new Chart(
            document.getElementById('iloSummaryCanvas'),
            iloSummaryConfig
    );

    function generateTagData(tagData){
        let tags = ""
        let unique = 0
        let tagQuestions = ""

        if(tagData){
            for (let i = 0; i < tagData.length; i++){
                tags = tagData[i][0];
                unique = tagData[i][2]
                for(let j=0; j < tagData[i][3].length; j++)
                    tagQuestions += `Question: ${tagData[i][3][j][0]},
                                     Unique answers: ${tagData[i][3][j][0]}<br>`;
            };
        };
        return {tags, unique, tagQuestions}
    };

        let coveredILO = `<h3>Covered Intended Learning Outcome (ILO)</h3><br>`;

        for (let i = 0; i < {{ exam_id|safe }}_data.ilo_summary.length ; i++){
            coveredILO += `ILO ${ {{ exam_id|safe }}_data.ilo_summary[i]["ilo_value"]} -
                               ${ {{ exam_id|safe }}_data.ilo_summary[i]["ILO_DESC"]}<br>`
            };

    function getPassedStudents(exam_summary){
        let passed = 0;
        let failed = 0;
        let total = 0;
        for (const [key, value] of Object.entries(exam_summary)){
            if (key != ("F" || "Fx")){
                passed =+ value
                }
            else{
                failed += value;
            };
        };
        return {passed, failed, total};
    };

    let passFailStudents = getPassedStudents({{ exam_id|safe }}_data.exam_summary);
    let passedTagsData = generateTagData({{ exam_id|safe }}_data.exam_tags.passed_tags)
    let passedTags = `
        <h3> Passed Tags </h3> <br>
        <table>
            <tr>
                <th>Tags</th>
                <th>Questions</th>
            </tr>
            <tr>
                <td>${passedTagsData["tags"]}</td>
                <td><p class="qid_list">${passedTagsData["tagQuestions"]}</p></td>
            </tr>
       </table>`

    let failedTagsData = generateTagData({{ exam_id|safe }}_data.exam_tags.failed_tags)
    let failedTags = `
        <h3> Failed Tags </h3> <br>
        <table>
            <tr>
                <th>Tags</th>
                <th>Questions</th>
            </tr>
            <tr>
                <td>${failedTagsData["tags"]}</td>
                <td><p class="qid_list">${failedTagsData["tagQuestions"]}</p></td>
            </tr>
        </table>
    `
    let strongTagsData = generateTagData({{ exam_id|safe }}_data.exam_tags.strong_tags)
    let strongTags = `
        <h3> Excelled Tags </h3> <br>
        <table>
            <tr>
                <th>Tags</th>
                <th>Questions</th>
            </tr>
            <tr>
                <td>${strongTagsData["tags"]}</td>
                <td><p class="qid_list">${strongTagsData["tagQuestions"]}</p></td>
            </tr>
        </table>`

    let ladokData = ``
    for (let i=0; i < {{ exam_id|safe }}_data.ladok_summary.length; i++){
        ladokData += `<tr>
                        <td>${ {{ exam_id|safe }}_data.ladok_summary[i]["student_id"]}</td>
                        <td>${ {{ exam_id|safe }}_data.ladok_summary[i]["grade"]}</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    `
    };

    let ladokContent = `
        <h3> Ladok list </h3> <br>
        <table>
            <tr>
                <th>Student-ID</th>
                <th>Grade</th>
                <th>Reported</th>
            </tr>
            ${ladokData}
        </table>
        `
    document.getElementById("mainHeadings").innerHTML = mainHeadings;
    document.getElementById("coveredILO").innerHTML = coveredILO;
    document.getElementById("passFail").innerHTML = `Passed students: ${passFailStudents["passed"]}
                                                     Failed students: ${passFailStudents["failed"]}`;

    document.getElementById("failedTagsDiv").innerHTML = failedTags;
    document.getElementById("passedTagsDiv").innerHTML = passedTags;
    document.getElementById("strongTagsDiv").innerHTML = strongTags;
    document.getElementById("ladokDiv").innerHTML = ladokContent;

</script>
{% for _student in students %}
    {{ _student["data"]|safe}}
{% endfor %}

</body>
</html>
